# Task-specific models and data (stored per robot/task)
tasks/*/models/
tasks/*/motions/

.DS_Store

# Ignore booster_assets and logs
booster_assets/
logs/

# Common Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd


